/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

p {
  max-width: 66ch;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 1fr;
  place-items: center;
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
}

.info-logo {
  display: block;
  margin: 0 auto 2rem auto;
}

.info-small {
  justify-self: center;
  font-size: 1rem;
  font-size: 0.7vw;
  font-size: clamp(0.7rem, 0.7vw, 1rem);
}
.info-medium {
  font-size: clamp(0.8rem, 1.8vw, 2rem);
}
.info-large {
  font-size: clamp(1.2rem, 2.2vw, 2.8rem);
}
.info-title {
  text-transform: uppercase;
  font-size: clamp(2rem, 3vw, 3.5rem);
}
.info-italic {
  font-style: italic;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

.select-button:hover,
.select-button:active {
  transform: scale(1.1);
  cursor: pointer;
}

.select-button {
  padding: 1ch 3ch;
  border: none;
  border-radius: 3ch;
  font-size: 2.5rem;
  font-size: clamp(1.2rem, 2.2vw, 2.8rem);
}

footer {
  grid-column: 1 / 3;
  place-items: center;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 95vw;
  top: 1rem;
  left: 2.5%;
  padding: 2%;
  /* transform: translate(-50%, -50%); */
  background-color: #f3f3f3;
  z-index: 1000;
  transition: all 0.5s;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 75vh auto auto;
  }

  .info {
    grid-row: 1 / 2;
  }

  .buttons {
    grid-row: 2 / 3;
    padding: 4vh 0;
  }

  footer {
    grid-row: 3 / 4;
  }

  .footer-content {
    flex-direction: column;
    /* width: 100vw; */
  }
}
